<header class="w3-container">
    <div class="w3-bar w3-black">
      <link rel="stylesheet" href="/css/main.css">
        <a href="/" class="w3-bar-item w3-button" style="<%= path === '/' ? 'font-weight: bold' : '' %>" href="/">Mostrar Imágenes</a>
        <a href="/add-new" class="w3-bar-item w3-button" style="<%= path === '/add-new' ? 'font-weight: bold' : '' %>" href="/">Añadir Imagen</a>
      </div>
</header>